<h1>Lista de sub categorias</h1>

<table id="indexsubcategorias" class="display table table-bordered">
  <thead class="bg-primary">
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @sub_categories.each do |sub_category| %>
      <tr>
        <td><%= sub_category.nombre %></td>
        <td><%= sub_category.descripcion %></td>
        <td><%= link_to 'Mostrar', sub_category, :class => "btn btn-link" %>
        <%= link_to 'Editar', edit_sub_category_path(sub_category), :class => "btn btn-link" %>
        <%= link_to 'Eliminar', sub_category, method: :delete, data: { confirm: 'Estas seguro de eliminarlo?' }, :class => "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_sub_category_path, :class => "btn btn-link" %>
